@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

@import "libs/fonts";

@import "sections/*.*";

html, body {
    @include ff-chambers-sans;
    color: $corpus;
    font-size: 16px;
}

p {
    line-height: 1.8em;
}

a {
    color: inherit;
    text-decoration: underline;
    &:hover {
        color: $highlight;
    }
}

.c-title {
    color: $title;
}
