{% extends 'admin_area/base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block content %}
    <h1>Create new Page</h1>

    {{ include('admin_area/page/_form.html.twig') }}

    <a href="{{ path('admin_page_index') }}">back to list</a>
{% endblock %}
