$background: #F4F5EF;
$text: #1E2022;
$code: #D8DBCB;
$muted: #70716A;

$keplerCaption: kepler-std-caption, serif;
$kepler: kepler-std, serif;
$monospace: Courier, Courier New, FreeMono, Liberation Mono, monospace;
