@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body.public {
  display: flex;
  align-items: center;
  padding: 70px 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 15px;

  .form-floating:focus-within {
    z-index: 2;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}