{% extends 'admin_area/base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block content %}
    <h1>Create new Project</h1>

    {{ include('admin_area/project/_form.html.twig') }}

    <a href="{{ path('admin_project_index') }}">back to list</a>
{% endblock %}
