<div class="block block-image">
    <figure>
        <img src="{{ block.configuration.src }}" alt="{{ block.configuration.alt }}">
        <figcaption>
            {{ block.configuration.caption|raw }}
        </figcaption>
    </figure>
</div>