<footer id="mainFooter" class="content alnilam-footer flex">
    <div class="left">
        <a href="{{ path('random') }}">Page aléatoire</a>
    </div>
    <ul class="list-inline center">
        <li><a rel="me noreferrer noopener" href="https://github.com/fnev-eu" target="_blank" class="icon icon-github">Github</a></li>
        <li><a rel="me noreferrer noopener" href="https://linkedin.com/in/fnev-eu" target="_blank" class="icon icon-linkedin">LinkedIn</a></li>
        <li><a rel="me noreferrer noopener" href="https://twitter.com/fnev_eu" target="_blank" class="icon icon-twitter">Twitter</a></li>
        <li><a rel="me noreferrer noopener" href="https://mastodon.social/@fneveu" target="_blank" class="icon icon-mastodon">Mastodon</a></li>
        {#<li><a href="#" class="icon icon-webring">Webring</a></li>#}
    </ul>

    <div class="right">
        &copy; {{ 'now'|date('Y') }} - <a href="{{ path('about') }}"><strong>Florian Neveu</strong></a>
        <p>
            Site réalisé <a href="{{ path('project', {'slug': 'alnilam'}) }}">tout seul comme un grand</a>.
        </p>
    </div>
</footer><!-- !#mainFooter.alnilam-footer -->
