<!DOCTYPE html>

<title>Edit Project</title>

{% block body %}
    <h1>Edit Project</h1>

    {{ include('back/project/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_index') }}">back to list</a>

    {{ include('back/project/_delete_form.html.twig') }}
{% endblock %}
