#header {
    padding-bottom: 2rem;
    padding-top: 3.5rem;

    h1 {
        a {
            @include trajan;
            background-image: image-url('fnev-eu.png');
            background-repeat: no-repeat;
            background-size: contain;
            color: $corpus;
            display: inline-block;
            font-size: 1rem;
            padding: .2em 0 .2em 3em;
            &:hover {
                text-decoration: none;
            }
        }
    }
}